
.gradle
.gradle/**
${env:log_path}/

### IntelliJ IDEA ###
.idea
.idea/**

/*/target
/*/target/**
**/*.iml

/logs
/*/logs
/*/logs/**
**/*.log
*/${env:log_path}

**/.DS_Store
**/.rebel.xml.bak

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/